
.w3-theme {color:#fff !important; background-color:#3f51b5 !important}
.w3-theme-l1 {color:#fff !important; background-color:#6271c8 !important}
.w3-theme-l5 {color:#000 !important; background-color:#f3f4fb !important}
.w3-theme-d2 {color:#fff !important; background-color:#334191 !important}
.w3-theme-d1 {color:#fff !important; background-color:#3949a3 !important}
